.cn-icon a {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 4px 2px;
}

/*
 * Audio Icons
 */
.cn-icon.cn-itunes a {
	background-image: url('images/icons/audio/itunes-cicon.png');
}

.cn-icon.cn-soundcloud a {
	background-image: url('images/icons/audio/soundcloud-cicon.png');
}

.cn-icon.cn-podbean a {
	background-image: url('images/icons/audio/podbean-cicon.png');
}

.cn-icon.cn-mixlr a {
	background-image: url('images/icons/audio/mixlr-cicon.png');
}

/*
 * Financial Support Icons
 */

.cn-icon.cn-donor-box a {
	background-image: url('images/icons/financial/donorbox cicon.png');
}

.cn-icon.cn-go-fund-me a {
	background-image: url('images/icons/financial/gofundme cicon.png');
}

.cn-icon.cn-patreon a {
	background-image: url('images/icons/financial/patreon-cicon.png');
}

.cn-icon.cn-paypal a {
	background-image: url('images/icons/financial/paypal-cicon.png');
}

.cn-icon.cn-subscribestar a {
	background-image: url('images/icons/financial/subscribestar-cicon.png');
}

.cn-icon.cn-web-store a {
	background-image: url('images/icons/financial/webstore-cicon.png');
}

/*
 * Text/Post Icons
 */

.cn-icon.cn-blogspot a {
	background-image: url('images/icons/text/blogger-cicon.png');
}

.cn-icon.cn-discord a {
	background-image: url('images/icons/text/discord-cicon.png');
}

.cn-icon.cn-facebook a {
	background-image: url('images/icons/text/facebook-cicon.png');
}

.cn-icon.cn-gab a {
	background-image: url('images/icons/text/gab cicon.png');
}

.cn-icon.cn-instagram a {
	background-image: url('images/icons/text/Instagram-cicon.png');
}

.cn-icon.cn-mega a {
	background-image: url('images/icons/text/mega-cicon.png');
}

.cn-icon.cn-minds a {
	background-image: url('images/icons/text/minds-cicon.png');
}

.cn-icon.cn-parler a {
	background-image: url('images/icons/text/parler-cicon.png');
}

.cn-icon.cn-pinterest a {
	background-image: url('images/icons/text/pinterest-cicon.png');
}

.cn-icon.cn-reddit a {
	background-image: url('images/icons/text/reddit-cicon.png');
}

.cn-icon.cn-steemit a {
	background-image: url('images/icons/text/steemit-cicon.png');
}

.cn-icon.cn-twitter a {
	background-image: url('images/icons/text/twitter-cicon.png');
}

/*
 * Video Icons
 */
.cn-icon.cn-amazon-prime a {
	background-image: url('images/icons/video/amazonprime-video-cicon.png');
}

.cn-icon.cn-bitchute a {
	background-image: url('images/icons/video/bitchute-cicon.png');
}

.cn-icon.cn-brighteon a {
	background-image: url('images/icons/video/brighteon-logo-cicon.png');
}

.cn-icon.cn-dlive a {
	background-image: url('images/icons/video/dlive-cicon.png');
}

.cn-icon.cn-dropspace a {
	background-image: url('images/icons/video/dropspace-cicon.png');
}

.cn-icon.cn-dtube a {
	background-image: url('images/icons/video/dtube-cicon.png');
}

.cn-icon.cn-lbryu a {
	background-image: url('images/icons/video/lbry-cicon.png');
}

.cn-icon.cn-periscope a {
	background-image: url('images/icons/video/periscope-cicon.png');
}

.cn-icon.cn-twitch a {
	background-image: url('images/icons/video/twitch-cicon.png');
}

.cn-icon.cn-ugetube a {
	background-image: url('images/icons/video/ugetube-cicon.png');
}

.cn-icon.cn-vimeo a {
	background-image: url('images/icons/video/vimeo-cicon.png');
}

.cn-icon.cn-youtube a {
	background-image: url('images/icons/video/youtube-cicon.png');
}
